<h1> Hello World! </h1>

<script type='text/x-handlebars'>
  {{ view TroutrEmber.IndexNotesView }}
</script>

<script type='text/javascript'>
  $(function() {
    TroutrEmber.notesController.loadAll(<%= @notes.to_json.html_safe %>);
  });
</script>